.logo_login{
    width: 75%;
    height: 50%;
    margin-top: 5%;
}
.main{
    text-align: center;
    background-color: #FFCDB2;
    min-height: 100vh;
}
.inputs{
    margin-top: 5%;
}
.input_Login{
    background-color: #FFB4A2;
    margin-bottom: 1%;
    font-size: 20px;
}
.button_Login{
    padding: 20px 50px 20px 50px;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 200px;
}
button:hover{
    background-color: #E5989B;
    transition-property: background-color;
    transition-duration: 1s;
}
.RegisterP{
    font-size: 30px;
}