.inputs_Register{
    margin-top: 5%;
    margin-left: 100px;
}
.input_Register{
    text-align: center;
    margin-bottom: 20px;
    background-color: #FFB4A2;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #6D6875;
}
.input_Register:hover{
    border-radius: 10px;
    border: 2px solid #E5989B;
}
.logo_register{
    width: 75%;
    height: 50%;
    margin-top: 5%;
}
.main_Register{
    text-align: center;
    background-color: #FFCDB2;
    min-height: 100vh;
}
.all_set{
    display: flex;
    flex-direction: row;
}
.all_set{
    margin-left: 30%;
}
.checkboxes p{
    margin:0;
}
.button_Register{
    padding: 20px 50px 20px 50px;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 200px;
}
.button_Register:hover{
    background-color: #E5989B;
    transition-property: background-color;
    transition-duration: 1s;
}