* {
    margin: 0;
    padding: 0;
}

.player__container {
    height: 9vh;
    position: fixed; 
    bottom:0%;
    width: 100%;
    background-color: #000;
    color: #fff;
  }

  img {
    width: 40px;
    height: 40px;
}

.audio_info {
    display: flex;
}

.dtrack {
    width: 33%;
    margin-left: 30px;
    padding: 1% 0px 1% 1%;
}
.dtrack:hover{
    background-color: rgb(39, 38, 38);
}

.player {
    display: flex;
    align-items: center;
    height: 100%;
}

.controls_wrapper {
    width: 33%;
    text-align: center;
}

button {
    background: none;
    border: none;
}

.progress {
    position: absolute;
    margin-top: -40px;
    display: flex;
    align-items: center;
    width: 50%;
    left: 300px;
    justify-content: center;

}

.ghost {
    width: 33%;
    height: 100%;
    margin-left: 30px;

}

.text {
    margin-left: 15px;
}