.App {
  text-align: center;
}
*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.jjjj {
  font-size: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.top__header {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed__header {
  height: 6vh;
  background-color: #282c34;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 0px 30px 0px 30px;
}

.header__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header__menu li {
  float: left;
  margin-right: 40px;
  background-color: #333;
}

.header__menu li a {
  text-decoration: none;
  color: #fff;
}

.main {
  min-height: 80vh;
  background-color: #464646;
}

.logo {
  width: 240px;
  height: 50px;
}

